In [11]:
# 1. Create a function, called distance_from_zero(), that returns the absolute value of a provided single argument and prints a statement "Not possible" if the argument provided is not a number.
#To solve the task, use the type() function in the body of distance_from_zero().
# Call the function with the values of -10 and "cat" to verify it works correctly.
def distance_from_zero(value):
    type_of_value=type(value)
    if type_of_value==int or type_of_value==float:
        print("Its an integer:",abs(value))
    elif type_of_value==str:
            print("Its a string:", value)
    else:
            print("enter an integer or a string")
    return
distance_from_zero(-10)
distance_from_zero(7.77)
distance_from_zero('cat')

Its an integer: 10
Its an integer: 7.77
Its a string: cat

In [19]:
# 2. Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10.
# Create it with the help of the range() function.
for each in range(1,11):
    print(each*2)
# (1,11) generates numbers from 1 to 10

2
4
6
8
10
12
14
16
18
20

In [21]:
#appending values in the new list
list1=[]
for each in range(1,11):
    list1.append(each*2)
list1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [30]:
# 3.You are given a list of numbers. Iterate over this list, printing each value multiplied by 10 on the same line.
# Provide two solutions to this problem.
lst=[1,2,3,4,5]
for each in lst:
    print(each*10, end=" ")
#end=" " is the key to printing on one line. spacing.
lst

10 20 30 40 50

[1, 2, 3, 4, 5]

In [34]:
# solution2
result = []
for n in nums:
    result.append(n * 10)
result

[10, 20, 30, 40, 50]

In [35]:
print(* result) # * is used to unpack in python

10 20 30 40 50

In [38]:
nums = [1, 2, 3, 4, 5]
print([n * 10 for n in nums]) #using list compreshensions and *

[10, 20, 30, 40, 50]

In [40]:
nums = [1, 2, 3, 4, 5]
print(*[n * 10 for n in nums]) #using * to unpack nums list

10 20 30 40 50

In [1]:
# 4. You are provided with the nums list. Define a function called count() containing a while loop to count the number of values 
# in the nums list that are lower than 20.
nums=[23,4,56,77,88,9,15,7,6,11,17]
def count():
    c=0 #c is count initializing to 0
    i=0 #i using to increment in a loop
    while i<len(nums):
        if nums[i]<20:
            c+=1
        i+=1
    return c
result=count()
print(result)

7

In [6]:
#5. This is the menu of a close-by restaurant:
# Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
# What is the second meal in the list?
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}
print(Menu['meal_2'])

Fries

In [7]:
#6. Add a fifth meal: "Soup". , Replace the Hamburger with a Cheeseburger.
Menu['meal_5']='Soup'
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

In [8]:
#Replace the Hamburger with a Cheeseburger.
Menu['meal_3']='Cheeseburger'
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheeseburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

In [11]:
#7. Attach the Desserts list as a sixth meal.
Desserts=['Gulab Jamun','Halwa','Kheer','Jalebi']
Desserts

['Gulab Jamun', 'Halwa', 'Kheer', 'Jalebi']

In [12]:
Menu['meal_6']=Desserts
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheeseburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup',
 'meal_6': ['Gulab Jamun', 'Halwa', 'Kheer', 'Jalebi']}

In [13]:
# Create a new dictionary called Price_list that contains the first five meals of the Menu dictionary as keys 
# and assign the following five values as prices (assumed in dollars): 10, 5, 8, 12, 5. Start by Price_list = {}.
Price_list={}
Price_list['Spaghetti']=10
Price_list

{'Spaghetti': 10}

In [15]:
Price_list['Fries']=5
Price_list['Cheeseburger']=8
Price_list['Lasagna']=12
Price_list['Soup']=5
Price_list

{'Spaghetti': 10, 'Fries': 5, 'Cheeseburger': 8, 'Lasagna': 12, 'Soup': 5}

In [16]:
# 9. Use the print() function and the .get() method to check the price of the Spaghetti in the Price_list.
print(Price_list.get('Spaghetti'))

10

In [17]:
#10. Create a list, called Two_Numbers. Let its elements be the values 1 and 2. 
#Then, create a new one, named All_Numbers, that will contain both the Two_Numbers and the Numbers lists in the given order.
Two_numbers=[1,2]
Numbers=[3,5,6,4,8,2,10,7] #Assume
All_numbers=Two_numbers+Numbers
All_numbers
#output is same order

[1, 2, 3, 5, 6, 4, 8, 2, 10, 7]

In [19]:
All_numbers.sort()
All_numbers # after sorting

[1, 2, 2, 3, 4, 5, 6, 7, 8, 10]

In [25]:
#we can also use extend()
Two_numbers1=[1,2]
Numbers1=[3,5,6,4,8,2,10,7] #Assume
All_numbers1=Two_numbers.copy()
All_numbers1.extend(Numbers1)
All_numbers1

[1, 2, 3, 5, 6, 4, 8, 2, 10, 7]