In [3]:
#1. Write a Python program to print the first and last elements of this list:
nums = [10, 20, 30, 40, 50]
print("First number: ",nums[0])
print("Last Number: ",nums[-1])

First number:  10
Last Number:  50

In [6]:
#2. Given a tuple:  fruits = ("apple", "banana", "cherry")
# Write code to unpack the tuple into three variables and print them.
fruits = ("apple", "banana", "cherry")
print(fruits[0])
print(fruits[1])
print(fruits[2])

apple
banana
cherry

In [14]:
# 3. Create a set:  s = {1, 2, 3}
#  Add 4 to it and then remove 2. Print the updated set.
s={1,2,3}
s.add(4)
s

{1, 2, 3, 4}

In [15]:
s.remove(2)
s #updated set

{1, 3, 4}

In [21]:
# 4. Write a program to find the maximum and minimum values from the list:

marks = [56, 89, 23, 77, 45]
print("Max marks: ",max(marks))
print("Min marks: ",min(marks))

Max marks:  89
Min marks:  23

In [30]:
# 5. Given:  tup = (5, 10, 15, 20)
#  Print only the last two elements using slicing.
tup = (5, 10, 15, 20)
print(tup[-2:])

(15, 20)

In [32]:
# 6. Convert this list into a set to remove duplicates:
 # data = [10, 10, 20, 30, 30, 40]
 # Then convert it back to a list and print it.
data = [10, 10, 20, 30, 30, 40]
data2=set(data)#converted into set, data2
data2

{10, 20, 30, 40}

In [37]:
data3=list(data2) # converted into list ,data3
data3

[40, 10, 20, 30]

In [38]:
#can try in  asingle line
data4 = [10, 10, 20, 30, 30, 40]
print(list(set(data4)))

[40, 10, 20, 30]

In [40]:
# 7. Write a program to store students’ marks in a dictionary:
#  Ram - 78, Sita - 85, Ravi - 90
#  Then print Sita’s marks.
dict_marks={'Ram':78,'Sita':85,'Ravi':90}
dict_marks

{'Ram': 78, 'Sita': 85, 'Ravi': 90}

In [42]:
dict_marks['Sita']

85

In [47]:
# 8. Given two sets:
#  A = {1, 2, 3, 4} 			B = {3, 4, 5, 6}
#  Write code to print:
# Union
# Intersection
# Difference (A − B)
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}
print(A.union(B))

{1, 2, 3, 4, 5, 6}

In [48]:
# Union-all elements from both
print(A|B)# pipe symbol-using union function

{1, 2, 3, 4, 5, 6}

In [49]:
# Intersection-common from both
print(A & B)

{3, 4}

In [50]:
print(A.intersection(B)) # using intersection function

{3, 4}

In [52]:
# Difference (A − B)-A but not B
print(A-B)

{1, 2}

In [53]:
#using difference function
A.difference(B)

{1, 2}

In [54]:
#symmentric difference-A and B, but not in both
A.symmetric_difference(B)

{1, 2, 5, 6}

In [61]:
# 9. Write a Python program to sort this list in descending order:
scores = [50, 10, 70, 30, 90]
scores.sort() #ascending by default
print(scores)

[10, 30, 50, 70, 90]

In [66]:
scores.sort(reverse=True)# descending order
print(scores)

[90, 70, 50, 30, 10]

In [68]:
# 10. Write a program to check if the key "age" exists in the following dictionary:
person = {"name": "Ravi", "age": 25, "city": "Delhi"}
if 'age' in person.keys():
    print("age key exists")
else:
    print("age key doesn't exists")

age key exists

In [69]:
#Python automatically checks keys by default.
person = {"name": "Ravi", "age": 25, "city": "Delhi"}
if 'age' in person:
    print("age key exists")
else:
    print("age key doesn't exists")

age key exists

In [94]:
# 11. Given the list:
#  colors = ["red", "green", "blue"]
#  Write code to append "yellow" and then insert "black" at index 1.
colors = ["red", "green", "blue"]
colors.append('yellow')
colors

['red', 'green', 'blue', 'yellow']

In [95]:
colors

['red', 'green', 'blue', 'yellow']

In [96]:
colors.insert(1,'black')

In [97]:
colors

['red', 'black', 'green', 'blue', 'yellow']

In [104]:
# 12. Given a dictionary of items and prices:
#  items = {"pen": 10, "book": 40, "eraser": 5}
#  Write a program to:
# Print all item names.
# Print the total of all prices.
items = {"pen": 10, "book": 40, "eraser": 5}
print("Items:")
for each in items:
    print(each)

Items:
pen
book
eraser

In [105]:
sum=0
for each in items.values():
    sum=sum+each
print("sum of values:",sum)

sum of values: 55

In [109]:
# 13. fruits = {"apple", "banana", "cherry", "mango", "orange"}

# Write a Python program to remove "banana" and "mango" from the set .  Print the updated set.
fruits = {"apple", "banana", "cherry", "mango", "orange"}
fruits.remove('banana')
fruits.remove('mango')
fruits

{'apple', 'cherry', 'orange'}

In [111]:
# 14. numbers = {10, 20, 30, 40, 50, 60} 
# Remove 20, 40, and 70 using discard().
numbers = {10, 20, 30, 40, 50, 60}
numbers.discard(20)
numbers.discard(40)
numbers.discard(70)
numbers # ok, no error is coming even after removing 70, which is not in a list

{10, 30, 50, 60}

In [115]:
# 15. colors = {"red", "blue", "green", "yellow", "purple"}
# Remove any two random elements from the set using pop() and print the remaining set.
colors = {"red", "blue", "green", "yellow", "purple"}
colors.pop()
colors.pop()
colors

{'green', 'purple', 'red'}

In [118]:
#16. A = {"a", "b", "c", "d", "e"}
# B = {"c", "d"}
# Write a program to remove all elements of B from A using difference_update().
#  Print the updated set A.
A = {"a", "b", "c", "d", "e"}
B = {"c", "d"}     
A.difference_update(B)
print(A)

{'b', 'e', 'a'}

In [119]:
# cities = {"Delhi", "Mumbai", "Kolkata", "Chennai", "Pune", "Goa"}
# Remove "Goa" using remove()
# Remove "Kolkata" using discard()
# Then remove one random element using pop()
#  Print the final set.
cities = {"Delhi", "Mumbai", "Kolkata", "Chennai", "Pune", "Goa"}
cities.remove('Goa')
cities

{'Chennai', 'Delhi', 'Kolkata', 'Mumbai', 'Pune'}

In [121]:
cities.discard('Kolkata')
cities

{'Chennai', 'Delhi', 'Mumbai', 'Pune'}

In [122]:
cities.pop()

'Mumbai'

In [123]:
cities

{'Chennai', 'Delhi', 'Pune'}