# Data cleaning and preparation

In [1]:
# Creating a copy of dataframes

In [2]:
import pandas as pd

In [3]:
orders=pd.read_csv(r'D:\Internshala BI\M5-20251101T095706Z-1-001\M5\orders.csv')

In [4]:
orders.head(3)

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Extra_Column,Remarks
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Craeting the copy of the dataframes

In [6]:
orders_df=orders
orders_df

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Extra_Column,Remarks
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,O001,C001,P001,2.0,10-01-2025,1600.0,NaN,Delivered
4,O002,C002,P002,1.0,11-01-2025,600.0,NaN,Pending
5,O003,C003,P003,3.0,12-01-2025,450.0,NaN,Delivered
6,O004,C004,P004,10.0,10-01-2025,50.0,NaN,Pending
7,O005,C001,P005,1.0,11/01/2025,100.0,NaN,Delivered
8,O005,C001,P005,1.0,11-01-2025,100.0,NaN,Delivered
9,O006,C005,P001,1.0,11-01-2025,800.0,NaN,Cancelled
10,O007,C006,P002,2.0,12-01-2025,1200.0,NaN,Pending
11,O008,C007,P004,5.0,NaN,25.0,NaN,Delivered
12,O009,C008,P003,NaN,10-01-2025,NaN,NaN,Cancelled
13,O010,C009,P005,1.0,11-01-2025,100.0,NaN,Pending
14,O011,C010,P002,3.0,12-01-2025,1800.0,NaN,Delivered
15,O012,C004,P004,7.0,10-01-2025,35.0,NaN,Pending
16,O013,C002,P003,2.0,11-01-2025,300.0,NaN,Delivered

In [7]:
# here top 3 rows are empty and some NaN values are also there in other rows. we can remove Nan values or can impute in them.

In [8]:
# Remove top 3 empty rows
orders_df=orders_df.iloc[3:].reset_index(drop=True) #

In [9]:
orders_df.head(5)

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Extra_Column,Remarks
0,O001,C001,P001,2.0,10-01-2025,1600.0,NaN,Delivered
1,O002,C002,P002,1.0,11-01-2025,600.0,NaN,Pending
2,O003,C003,P003,3.0,12-01-2025,450.0,NaN,Delivered
3,O004,C004,P004,10.0,10-01-2025,50.0,NaN,Pending
4,O005,C001,P005,1.0,11/01/2025,100.0,NaN,Delivered

In [11]:
# Replace incorrect values( Fix date issues)
orders_df['Order_Date']=orders_df['Order_Date'].replace('11/01/2025','11-01-2025')
orders_df

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Extra_Column,Remarks
0,O001,C001,P001,2.0,10-01-2025,1600.0,NaN,Delivered
1,O002,C002,P002,1.0,11-01-2025,600.0,NaN,Pending
2,O003,C003,P003,3.0,12-01-2025,450.0,NaN,Delivered
3,O004,C004,P004,10.0,10-01-2025,50.0,NaN,Pending
4,O005,C001,P005,1.0,11-01-2025,100.0,NaN,Delivered
5,O005,C001,P005,1.0,11-01-2025,100.0,NaN,Delivered
6,O006,C005,P001,1.0,11-01-2025,800.0,NaN,Cancelled
7,O007,C006,P002,2.0,12-01-2025,1200.0,NaN,Pending
8,O008,C007,P004,5.0,NaN,25.0,NaN,Delivered
9,O009,C008,P003,NaN,10-01-2025,NaN,NaN,Cancelled
10,O010,C009,P005,1.0,11-01-2025,100.0,NaN,Pending
11,O011,C010,P002,3.0,12-01-2025,1800.0,NaN,Delivered
12,O012,C004,P004,7.0,10-01-2025,35.0,NaN,Pending
13,O013,C002,P003,2.0,11-01-2025,300.0,NaN,Delivered

In [13]:
orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order_ID      14 non-null     object
 1   Customer_ID   14 non-null     object
 2   Product_ID    14 non-null     object
 3   Quantity      13 non-null     float64
 4   Order_Date    13 non-null     object
 5   Total_Amount  13 non-null     float64
 6   Extra_Column  0 non-null      float64
 7   Remarks       14 non-null     object
dtypes: float64(3), object(5)
memory usage: 1.0+ KB

In [14]:
# Step3: Remove rows with Null values in critical columns.Here we can observe from the above info(), have null in Quantity, Order_Date and Total_Amount.

In [18]:
orders_df.dropna(subset=['Quantity', 'Order_Date','Total_Amount'], inplace=True)
orders_df

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Extra_Column,Remarks
0,O001,C001,P001,2.0,10-01-2025,1600.0,NaN,Delivered
1,O002,C002,P002,1.0,11-01-2025,600.0,NaN,Pending
2,O003,C003,P003,3.0,12-01-2025,450.0,NaN,Delivered
3,O004,C004,P004,10.0,10-01-2025,50.0,NaN,Pending
4,O005,C001,P005,1.0,11-01-2025,100.0,NaN,Delivered
5,O005,C001,P005,1.0,11-01-2025,100.0,NaN,Delivered
6,O006,C005,P001,1.0,11-01-2025,800.0,NaN,Cancelled
7,O007,C006,P002,2.0,12-01-2025,1200.0,NaN,Pending
10,O010,C009,P005,1.0,11-01-2025,100.0,NaN,Pending
11,O011,C010,P002,3.0,12-01-2025,1800.0,NaN,Delivered
12,O012,C004,P004,7.0,10-01-2025,35.0,NaN,Pending
13,O013,C002,P003,2.0,11-01-2025,300.0,NaN,Delivered

In [19]:
#orders_df.dropna.We can use till here also inorder to remove null values but by using subset we tell pandas to remove particularly from those columns
#inplace=True means,normally without inplace pandas will show the df without null values temporarily. 
#We want to remove null values permanantly from orders_df

In [20]:
# Change the Datatype of (Order_Date  13 non-null  object ), Its object given here, Change into DateTime. coerce is handle errors

In [23]:
orders_df['Order_Date']=pd.to_datetime(orders_df['Order_Date'],errors='coerce')
orders_df

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Extra_Column,Remarks
0,O001,C001,P001,2.0,2025-10-01,1600.0,NaN,Delivered
1,O002,C002,P002,1.0,2025-11-01,600.0,NaN,Pending
2,O003,C003,P003,3.0,2025-12-01,450.0,NaN,Delivered
3,O004,C004,P004,10.0,2025-10-01,50.0,NaN,Pending
4,O005,C001,P005,1.0,2025-11-01,100.0,NaN,Delivered
5,O005,C001,P005,1.0,2025-11-01,100.0,NaN,Delivered
6,O006,C005,P001,1.0,2025-11-01,800.0,NaN,Cancelled
7,O007,C006,P002,2.0,2025-12-01,1200.0,NaN,Pending
10,O010,C009,P005,1.0,2025-11-01,100.0,NaN,Pending
11,O011,C010,P002,3.0,2025-12-01,1800.0,NaN,Delivered
12,O012,C004,P004,7.0,2025-10-01,35.0,NaN,Pending
13,O013,C002,P003,2.0,2025-11-01,300.0,NaN,Delivered

In [25]:
# Convert Quantity column into Integer( quantity -float seems bad )
# astype to change data type, here into integer.
orders_df['Quantity']=orders_df['Quantity'].astype(int)
orders_df

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Extra_Column,Remarks
0,O001,C001,P001,2,2025-10-01,1600.0,NaN,Delivered
1,O002,C002,P002,1,2025-11-01,600.0,NaN,Pending
2,O003,C003,P003,3,2025-12-01,450.0,NaN,Delivered
3,O004,C004,P004,10,2025-10-01,50.0,NaN,Pending
4,O005,C001,P005,1,2025-11-01,100.0,NaN,Delivered
5,O005,C001,P005,1,2025-11-01,100.0,NaN,Delivered
6,O006,C005,P001,1,2025-11-01,800.0,NaN,Cancelled
7,O007,C006,P002,2,2025-12-01,1200.0,NaN,Pending
10,O010,C009,P005,1,2025-11-01,100.0,NaN,Pending
11,O011,C010,P002,3,2025-12-01,1800.0,NaN,Delivered
12,O012,C004,P004,7,2025-10-01,35.0,NaN,Pending
13,O013,C002,P003,2,2025-11-01,300.0,NaN,Delivered

In [26]:
orders_df.info() #chcek the status of changes

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 0 to 13
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order_ID      12 non-null     object
 1   Customer_ID   12 non-null     object
 2   Product_ID    12 non-null     object
 3   Quantity      12 non-null     int64
 4   Order_Date    12 non-null     datetime64[ns]
 5   Total_Amount  12 non-null     float64
 6   Extra_Column  0 non-null      float64
 7   Remarks       12 non-null     object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 864.0+ bytes

In [30]:
# Step 5: Removing duplicate rows
orders_df.drop_duplicates(inplace=True)
orders_df

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Extra_Column,Remarks
0,O001,C001,P001,2,2025-10-01,1600.0,NaN,Delivered
1,O002,C002,P002,1,2025-11-01,600.0,NaN,Pending
2,O003,C003,P003,3,2025-12-01,450.0,NaN,Delivered
3,O004,C004,P004,10,2025-10-01,50.0,NaN,Pending
4,O005,C001,P005,1,2025-11-01,100.0,NaN,Delivered
6,O006,C005,P001,1,2025-11-01,800.0,NaN,Cancelled
7,O007,C006,P002,2,2025-12-01,1200.0,NaN,Pending
10,O010,C009,P005,1,2025-11-01,100.0,NaN,Pending
11,O011,C010,P002,3,2025-12-01,1800.0,NaN,Delivered
12,O012,C004,P004,7,2025-10-01,35.0,NaN,Pending
13,O013,C002,P003,2,2025-11-01,300.0,NaN,Delivered

In [31]:
# Step 6: Adding a calculated column (unit price)
orders_df['Unit Price']=orders_df['Total_Amount']/orders_df['Quantity']
orders_df

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Extra_Column,Remarks,Unit Price
0,O001,C001,P001,2,2025-10-01,1600.0,NaN,Delivered,800.0
1,O002,C002,P002,1,2025-11-01,600.0,NaN,Pending,600.0
2,O003,C003,P003,3,2025-12-01,450.0,NaN,Delivered,150.0
3,O004,C004,P004,10,2025-10-01,50.0,NaN,Pending,5.0
4,O005,C001,P005,1,2025-11-01,100.0,NaN,Delivered,100.0
6,O006,C005,P001,1,2025-11-01,800.0,NaN,Cancelled,800.0
7,O007,C006,P002,2,2025-12-01,1200.0,NaN,Pending,600.0
10,O010,C009,P005,1,2025-11-01,100.0,NaN,Pending,100.0
11,O011,C010,P002,3,2025-12-01,1800.0,NaN,Delivered,600.0
12,O012,C004,P004,7,2025-10-01,35.0,NaN,Pending,5.0
13,O013,C002,P003,2,2025-11-01,300.0,NaN,Delivered,150.0

In [36]:
# Step 7: Remove unwanted columns(Extra_column)
orders_df.drop(columns=['Extra_Column'], inplace=True)
orders_df

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Remarks,Unit Price
0,O001,C001,P001,2,2025-10-01,1600.0,Delivered,800.0
1,O002,C002,P002,1,2025-11-01,600.0,Pending,600.0
2,O003,C003,P003,3,2025-12-01,450.0,Delivered,150.0
3,O004,C004,P004,10,2025-10-01,50.0,Pending,5.0
4,O005,C001,P005,1,2025-11-01,100.0,Delivered,100.0
6,O006,C005,P001,1,2025-11-01,800.0,Cancelled,800.0
7,O007,C006,P002,2,2025-12-01,1200.0,Pending,600.0
10,O010,C009,P005,1,2025-11-01,100.0,Pending,100.0
11,O011,C010,P002,3,2025-12-01,1800.0,Delivered,600.0
12,O012,C004,P004,7,2025-10-01,35.0,Pending,5.0
13,O013,C002,P003,2,2025-11-01,300.0,Delivered,150.0

In [37]:
# Display Cleaned DF
orders_df

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Remarks,Unit Price
0,O001,C001,P001,2,2025-10-01,1600.0,Delivered,800.0
1,O002,C002,P002,1,2025-11-01,600.0,Pending,600.0
2,O003,C003,P003,3,2025-12-01,450.0,Delivered,150.0
3,O004,C004,P004,10,2025-10-01,50.0,Pending,5.0
4,O005,C001,P005,1,2025-11-01,100.0,Delivered,100.0
6,O006,C005,P001,1,2025-11-01,800.0,Cancelled,800.0
7,O007,C006,P002,2,2025-12-01,1200.0,Pending,600.0
10,O010,C009,P005,1,2025-11-01,100.0,Pending,100.0
11,O011,C010,P002,3,2025-12-01,1800.0,Delivered,600.0
12,O012,C004,P004,7,2025-10-01,35.0,Pending,5.0
13,O013,C002,P003,2,2025-11-01,300.0,Delivered,150.0