## Pandas_IS_Practice

In [2]:
import pandas as pd

In [5]:
customers=pd.read_csv(r'D:\Internshala BI\M5-20251101T095706Z-1-001\M5\customers.csv')

In [6]:
customers.head(3)

  Customer_ID         Name  Age                    Email Region
0        C001   John Smith   30   john.smith@example.com  North
1        C002  Sarah Jones   25  sarah.jones@example.com  South
2        C003  Michael Lee   40  michael.lee@example.com   East

In [7]:
products=pd.read_csv(r'D:\Internshala BI\M5-20251101T095706Z-1-001\M5\products.csv')

In [8]:
products.head(5)

  Product_ID      Product_Name     Category  Price  Stock_Quantity
0       P001            Laptop  Electronics    800              50
1       P002        Smartphone  Electronics    600             200
2       P003      Office Chair    Furniture    150             100
3       P004          Notebook   Stationery      5             500
4       P005  Wireless Headset  Electronics    100             150

In [10]:
products.shape

(5, 5)

In [11]:
orders=pd.read_csv(r'D:\Internshala BI\M5-20251101T095706Z-1-001\M5\orders.csv')

In [12]:
orders.head(5)

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Extra_Column,Remarks
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,O001,C001,P001,2.0,10-01-2025,1600.0,NaN,Delivered
4,O002,C002,P002,1.0,11-01-2025,600.0,NaN,Pending

In [13]:
orders

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Extra_Column,Remarks
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,O001,C001,P001,2.0,10-01-2025,1600.0,NaN,Delivered
4,O002,C002,P002,1.0,11-01-2025,600.0,NaN,Pending
5,O003,C003,P003,3.0,12-01-2025,450.0,NaN,Delivered
6,O004,C004,P004,10.0,10-01-2025,50.0,NaN,Pending
7,O005,C001,P005,1.0,11/01/2025,100.0,NaN,Delivered
8,O005,C001,P005,1.0,11-01-2025,100.0,NaN,Delivered
9,O006,C005,P001,1.0,11-01-2025,800.0,NaN,Cancelled
10,O007,C006,P002,2.0,12-01-2025,1200.0,NaN,Pending
11,O008,C007,P004,5.0,NaN,25.0,NaN,Delivered
12,O009,C008,P003,NaN,10-01-2025,NaN,NaN,Cancelled
13,O010,C009,P005,1.0,11-01-2025,100.0,NaN,Pending
14,O011,C010,P002,3.0,12-01-2025,1800.0,NaN,Delivered
15,O012,C004,P004,7.0,10-01-2025,35.0,NaN,Pending
16,O013,C002,P003,2.0,11-01-2025,300.0,NaN,Delivered

## Understanding the data

info()

In [17]:
# Inspecting the dataset
orders.info() #Structure and non-null count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order_ID      14 non-null     object
 1   Customer_ID   14 non-null     object
 2   Product_ID    14 non-null     object
 3   Quantity      13 non-null     float64
 4   Order_Date    13 non-null     object
 5   Total_Amount  13 non-null     float64
 6   Extra_Column  0 non-null      float64
 7   Remarks       14 non-null     object
dtypes: float64(3), object(5)
memory usage: 1.2+ KB

In [18]:
#Here object is text type. we can understand that Order_ID have 17 rows of which 14 rows are non-null. 3 are null rows

# Describe()

In [19]:
#Summary descriptive Statistics for numerical columns
orders.describe()

        Quantity  Total_Amount  Extra_Column
count  13.000000     13.000000           0.0
mean    3.000000    550.769231           NaN
std     2.768875    620.708084           NaN
min     1.000000     25.000000           NaN
25%     1.000000    100.000000           NaN
50%     2.000000    300.000000           NaN
75%     3.000000    800.000000           NaN
max    10.000000   1800.000000           NaN

# dtypes

In [22]:
orders.dtypes

Order_ID         object
Customer_ID      object
Product_ID       object
Quantity        float64
Order_Date       object
Total_Amount    float64
Extra_Column    float64
Remarks          object
dtype: object

# isnull()

In [24]:
#checking for null values
orders.isnull()

,Order_ID,Customer_ID,Product_ID,Quantity,Order_Date,Total_Amount,Extra_Column,Remarks
0,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,True,False
6,False,False,False,False,False,False,True,False
7,False,False,False,False,False,False,True,False
8,False,False,False,False,False,False,True,False
9,False,False,False,False,False,False,True,False
10,False,False,False,False,False,False,True,False
11,False,False,False,False,True,False,True,False
12,False,False,False,True,False,True,True,False
13,False,False,False,False,False,False,True,False
14,False,False,False,False,False,False,True,False
15,False,False,False,False,False,False,True,False
16,False,False,False,False,False,False,True,False

In [25]:
orders.isnull().sum() #count of missing values per column

Order_ID         3
Customer_ID      3
Product_ID       3
Quantity         4
Order_Date       4
Total_Amount     4
Extra_Column    17
Remarks          3
dtype: int64

# check for duplicate values - duplicated()

In [30]:
orders.duplicated() #display duplicate in columns and display true or false

0     False
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
dtype: bool

# Count no; of unique values in a column

In [31]:
customers['Region'].nunique()

4

In [32]:
customers['Region'].unique()

array(['North', 'South', 'East', 'West'], dtype=object)