In [1]:
# Codey's challenges Pandas
import pandas as pd

products = pd.read_csv(r"D:\Internshala BI\M5-20251101T095706Z-1-001\M5\products.csv")

In [2]:
products

  Product_ID      Product_Name     Category  Price  Stock_Quantity
0       P001            Laptop  Electronics    800              50
1       P002        Smartphone  Electronics    600             200
2       P003      Office Chair    Furniture    150             100
3       P004          Notebook   Stationery      5             500
4       P005  Wireless Headset  Electronics    100             150

In [3]:
products.head() #Display first 5 rows

  Product_ID      Product_Name     Category  Price  Stock_Quantity
0       P001            Laptop  Electronics    800              50
1       P002        Smartphone  Electronics    600             200
2       P003      Office Chair    Furniture    150             100
3       P004          Notebook   Stationery      5             500
4       P005  Wireless Headset  Electronics    100             150

In [5]:
products.shape #3. Show the number of rows and columns

(5, 5)

In [6]:
products.isna().sum() #4. Check if there are missing values (NaN)

Product_ID        0
Product_Name      0
Category          0
Price             0
Stock_Quantity    0
dtype: int64

In [7]:
products.duplicated().sum() #Check for duplicate rows

np.int64(0)

In [8]:
products.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [9]:
products.describe() #6. Show summary statistics (even if some columns are numbers)

            Price  Stock_Quantity
count    5.000000        5.000000
mean   331.000000      200.000000
std    348.109178      176.776695
min      5.000000       50.000000
25%    100.000000      100.000000
50%    150.000000      150.000000
75%    600.000000      200.000000
max    800.000000      500.000000

In [11]:
products["Category"].nunique() #Find how many unique categories there are:

3

In [12]:
products["Category"].unique() #And list them:

array(['Electronics', 'Furniture', 'Stationery'], dtype=object)

In [13]:
products.columns #Show column names

Index(['Product_ID', 'Product_Name', 'Category', 'Price', 'Stock_Quantity'], dtype='object')

In [15]:
products.sort_values("Price", ascending=False) #2️⃣ Sort products by price (highest first)

  Product_ID      Product_Name     Category  Price  Stock_Quantity
0       P001            Laptop  Electronics    800              50
1       P002        Smartphone  Electronics    600             200
2       P003      Office Chair    Furniture    150             100
4       P005  Wireless Headset  Electronics    100             150
3       P004          Notebook   Stationery      5             500

In [17]:
products[products["Price"] > 100] #3️⃣ Filter only products with price greater than 100

  Product_ID  Product_Name     Category  Price  Stock_Quantity
0       P001        Laptop  Electronics    800              50
1       P002    Smartphone  Electronics    600             200
2       P003  Office Chair    Furniture    150             100

In [19]:
products["Category"].value_counts()#4️⃣ Count how many products in each category

Category
Electronics    3
Furniture      1
Stationery     1
Name: count, dtype: int64