## CASE STUDY - BANKING AND FINANCE ANALYTICS USING PYTHON(PANDAS,MATPLOTLIB AND SEABORN)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Task 1: Data Preprocessing
•	Load the datasets into pandas DataFrames.

In [3]:

accounts=pd.DataFrame(
{
'AccountNumber': [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    'CustomerID': [301, 302, 303, 301, 304, 305, 306, 307, 308, 309],
    'AccountType': ['Savings', 'Checking', 'Savings', 'Checking', 'Savings', 'Checking', 'Savings', 'Checking', 'Savings', 'Checking'],
    'Balance': [1200.50, 2500.75, 300.00, 1500.00, 5000.00, 800.25, 2200.00, 3500.50, 1450.75, 2200.50]
}
)

In [4]:
transactions = pd.DataFrame({
    'TransactionID': [201, 202, 203, 204, 205, 206, 207, 208, 209, 210],
    'AccountNumber': [101, 102, 103, 101, 105, 106, 107, 108, 109, 110],
    'TransactionAmount': [200.50, 150.75, 50.00, 120.00, 300.00, 500.00, 100.00, 220.50, 130.75, 180.00],
    'TransactionType': ['Debit', 'Credit', 'Debit', 'Credit', 'Debit', 'Debit', 'Credit', 'Debit', 'Credit', 'Debit'],
    'TransactionDate': ['2024-01-01', '2024-01-03', '2024-01-05', '2024-01-07', '2024-01-09', '2024-01-10', '2024-01-12', '2024-01-13', '2024-01-15', '2024-01-17']
})

In [5]:
loans = pd.DataFrame({
    'LoanID': [301, 302, 303, 304, 305, 306, 307, 308, 309, 310],
    'CustomerID': [301, 302, 303, 301, 304, 305, 306, 307, 308, 309],
    'LoanAmount': [5000.00, 10000.00, 2000.00, 3000.00, 15000.00, 7000.00, 4000.00, 12000.00, 5000.00, 8000.00],
    'InterestRate': [5.0, 4.5, 6.0, 5.5, 4.0, 5.0, 4.5, 5.5, 4.0, 4.5],
    'DefaultStatus': ['No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes']
})

In [7]:
accounts # accounts is a df obj, likewise the other two.

   AccountNumber  CustomerID AccountType  Balance
0            101         301     Savings  1200.50
1            102         302    Checking  2500.75
2            103         303     Savings   300.00
3            104         301    Checking  1500.00
4            105         304     Savings  5000.00
5            106         305    Checking   800.25
6            107         306     Savings  2200.00
7            108         307    Checking  3500.50
8            109         308     Savings  1450.75
9            110         309    Checking  2200.50

# Task2: Descriptive Statistics

In [6]:
# •	Generate descriptive statistics for the Balance in the Accounts dataset.

In [9]:
accounts_balance_stats=accounts['Balance'].describe()
accounts_balance_stats

count      10.000000
mean     2065.325000
std      1376.793916
min       300.000000
25%      1263.062500
50%      1850.000000
75%      2425.687500
max      5000.000000
Name: Balance, dtype: float64

In [10]:
#•	Calculate the average and most common transaction amounts from the Transactions dataset.

In [11]:
average_transactions_stats=transactions['TransactionAmount'].describe()
average_transactions_stats

count     10.000000
mean     195.250000
std      127.678415
min       50.000000
25%      122.687500
50%      165.375000
75%      215.500000
max      500.000000
Name: TransactionAmount, dtype: float64