In [1]:
#Tasks :Day1-Chatgpt

In [2]:
#task1
print("My name is Asma shaik. My goal is to become job ready for python and sql")

My name is Asma shaik. My goal is to become job ready for python and sql

In [3]:
#Task2:
name="Asma Shaik"
age=30
goal="Get a data job"
print(f" My name is {name}.I am {age} years old. My goal is to learn python and sql,to get job ready and {goal}. I am interested in data analytics.")

 My name is Asma Shaik.I am 30 years old. My goal is to learn python and sql,to get job ready and Get a data job. I am interested in data analytics.

In [4]:
#Take a user input for a number and calculate: Square, cube, square root(use import math)

In [1]:
#Task3:
import math
num=int(input("Enter a number"))
print("Square:",num**2) #squaring num
print("Cube:",num**3) #cubing num
print("Square Root:",math.sqrt(num)) #by using math module, using sqrt() , we found square root of the number
num2=int(input("Enter any number to add"))
print("addition of 2 numbers: ",num+num2)

Enter a number 4

Square: 16
Cube: 64
Square Root: 2.0

Enter any number to add 5

addition of 2 numbers:  9

In [2]:
#math module 
#The math.pi constant, returns the value of PI (3.14...)
x = math.pi
print(x)

3.141592653589793

In [ ]:
#max(), min(), ceil(), floor()
a=math.ceil(1.75) #The math.ceil() method rounds a number upwards to its nearest integer.
b=math.floor(1.75) #The math.floor() method rounds a number downwards to its nearest integer
print("Ceil a:",a ,"and floor b:", b)

In [ ]:
#Returns the absolute (positive) value of the specified number
abs(-1.74)

In [ ]:
#Return the value of 4 to the power of 3 (same as 4 * 4 * 4):
x = pow(4, 3)
print(x)

In [ ]:
#Returns the square root of a number
x = math.sqrt(64)
print(x)

In [ ]:
# TASK-SQL

In [ ]:
#SQL is a relational database which is used to manage , manipulate and interact with relational DBs. It stands for Standard Query Language. 
#Its earlier called as Sequel, which stands for Standard English Query Language.
#Manipulating means inserting, deleting, quering of data from databases.

In [ ]:
# DBMS : Its a Database management software whoch is used to define, create and maintain a standard databases. It works for small DBs.
#Here data will be stored in the form of files. It supports single user.it doesnt support normalization. 
#Its slow as its stores data in the hierarchial form.

In [ ]:
# RDBMS : Its a type of DBMS which is used to work on relational dbs. data is stored in the form of schemas, which are called tables. and rows which are called tuples.
#Tables have the headers which are column names and rows are the values.
#It supports Normalization and its a multi user DB. Its fast when compared to DBMS as data is stored in tables and tables are related to each other.
#large databases.
# Examples of RDBMS: Sqlite, postgre sql, Mysql,SQL server, Oracle, MS access

In [ ]:
#create a table called students:

In [ ]:
import sqlite3
import csv
conn=sqlite3.connect("student.db")
query_create_table="""create table IF NOT EXISTS student( id integer primary key, name text,age integer, grade text);"""
conn.execute(query_create_table)

In [11]:
query_create_table

'create table IF NOT EXISTS student( id integer primary key, name text,age integer, grade text);'

In [ ]:
# insert some values into database

In [ ]:
insert_table="""insert into student(id,name,age,grade)values('1','Asma','20','first');"""
conn.execute(insert_table)

OperationalError: database is locked

In [ ]:
insert_table="""insert into student values(?,?,?,?);"""

In [ ]:
multiple_entries=[
('7','Shaik','30','distinction'),
('2','Manha','21','second'),
('3','Ayman','22','third'),
('4','Danish','23','first'),
('5','Zoya','24','second'),
('6','Jaffer','26','third')
]

In [ ]:
conn.executemany(insert_table, multiple_entries)

OperationalError: database is locked

In [ ]:
query_selectall="""select * from student;"""

In [ ]:
data=conn.execute(query_selectall)

In [ ]:
data

In [ ]:
for row in data:
    print(row)

In [ ]:
#conn.executemany("INSERT OR IGNORE INTO student VALUES (?, ?, ?, ?);", multiple_entries) - we can use this to overcome integrity errors..

In [ ]:
def stud_fun(query,data=None,db='student.db'): #The SQL query to run,--data is type, list or single data,--db is our db
    conn=sqlite3.connect(db) #connects to the SQLite database file.
    cursor=conn.cursor() # Creates a cursor object to execute SQL commands.
    try:
        if data:
            cursor.executemany(query,data) if isinstance(data,list) else cursor.execute(query,data) # isinstance checks the type of data.if single row it runs execute or if data is many rows, it goes executemany()
        else:
            cursor.execute(query)
            
# Tries to run the SQL query passed into the function.
        if query.strip().lower().startswith("select"):
            result=cursor.fetchall() #This line fetches all result rows
            conn.close()
            return result #sends the list of rows back to the caller.
        else:
            conn.commit()#If it's not a SELECT (like INSERT, DELETE, UPDATE):Commits the changes to the DB (e.g., save new records).
            conn.close()
            return "query run successfully"
    except sqlite3.Error as e:
        conn.close()
        return f"An error occurred: {e}"
        
result = stud_fun("SELECT * FROM student;")
for row in result:
    print(row)

NameError: name 'sqlite3' is not defined

In [ ]:
query_update="""update car set carmake='Maruti Suzuki 800' where carid = '1959';"""
result_update = queryfun(query_update)
print(result_update)